<!DOCTYPE html>
<html ng-app="hosting-app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <base href="/"></base>
</head>

<body ng-cloak>
    <toaster-container></toaster-container>
    <!-- render all view here -->
    <div ui-view></div>
    <!-- html5shiv for IE8 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>